@model IEnumerable<WebshopM_MVC.Models.ShopItem>

<table class="table">
    <tr>
        <th>
            Article number
        </th>
        <th>
            Shelf position
        </th>
        <th>
            Quantity in stock
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShelfPosition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ArticleNumber }) |
                @Html.ActionLink("Details", "Details", new { id = item.ArticleNumber }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ArticleNumber })
            </td>
        </tr>
    }

</table>

