@model IEnumerable<WebshopM_MVC.Models.ShopItem>

<table class="table productList">
    <tr>
        <th>
            Product name
        </th>
        <th>
            Price (SEK)
        </th>
        <th>
            Shelf position
        </th>
        <th>
            Quantity in stock
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>
    <tfoot class="footer">
        <tr>
            <td>
                Total:
            </td>
            <td>
                @Model.Count()
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td>
            </td>
        </tr>
    </tfoot>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", new { id = item.ArticleNumber })
        </td>
        <td>
            @item.Price.ToString("C2", System.Globalization.CultureInfo.CreateSpecificCulture("sv-SE"))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShelfPosition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <div class="btn btn-default">
                @Html.ActionLink("Edit", "Edit", new { id = item.ArticleNumber })
            </div>
        </td>
    </tr>
}
    


</table>
