@model IEnumerable<WebshopM_MVC.Models.ShopItem>

@{
    ViewBag.Title = "Search";
}

@{
    double? Price = null;
    string Name = "";
    bool GreaterThan = false;   
}


<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
                <div class="control-label col-md-1">Price</div>
                <div class="col-md-2">
                    @Html.EditorFor(price => Price, Price)
                </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-4">
                @Html.EditorFor(greaterThan => GreaterThan, GreaterThan)
                Price greater than
            </div>
        </div>
            <div class="form-group">
                <div class="control-label col-md-1">Name</div>
                <div class="col-md-2">
                    @Html.EditorFor(name => Name, Name)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-1">
                    <input type="submit" value="Search" class="btn btn-default" />
                </div>
            </div>
        </div>
}

@{
    if (Model.Count() > 0)
    {
        <h2>Results</h2>
        @Html.Partial("_ShopItemList", Model)
    }
}
